<h1>write a post</h1>

<form id="entry" action="/entries/new" method="post">
  <label>title:</label>
  <input type="text" name="entry[title]">
  <label>post:</label>
  <textarea name="entry[body]"></textarea>
  <label>tag</label>
  <input type="text" name="tag[tag_name]">
  <input type="submit" value="post this">

</form>
