<!DOCTYPE html>
<html lang="en">
<head>
  <!--
    normalize.css removes cross-browser differences in defaults, e.g.,
    differences in how form elements appear between Firefox and IE
    See: http://necolas.github.com/normalize.css/
  -->
  <link rel="stylesheet" href="/css/normalize.css">
  <!--
    application.css is where you put your styles
  -->
  <link rel="stylesheet" href="/css/application.css">

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/js/application.js"></script>

  <title></title>
</head>
<body>
  <ul>
  <%if logged_in?%>
  <li><a href="/logout">logout</a></li>
  <li>hey, <%=current_user.username%>! want to go to your <a href="/users/<%=current_user.id%>">profile?</a></li>
  <li><a href="/entries/new">write a post</a></li>
  <li><a href="/entries/index">all posts</a></li>
<%end%>
<% if !logged_in?%>
      <li><a href="/users/new">sign up</a></li>
      <li><a href="/login">login</a></li>
      <%end %>

  </ul>
  <%= yield %>
</body>
</html>
