<h1>log in</h1>

<form method ="post" action="/login">
  <input type="text" name="user[username]" placeholder="username">
  <input type="password" name="user[password]" placeholder="password">
  <input type="submit" value="login">
</form>
